@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex flex-column justify-content-center align-items-center" style="height:500px">
    <h1 class="display-4">Hello User</h1>
    <h2 class="">Welcome to Student Management System</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
